canvas { 
    background: url(/assets/football-field.png);
    background-size: 100% 100%;
}

.container-fluid {
    background-color: #00a000;
}

.team-name {
    font-weight: bold;
    color: #ffffff;
    font-size: larger;
}

.result {
    font-weight: bold;
    color: #ffffff;
    font-size: xx-large;
}

.info-heading {
    font-weight: bold;
    color: #ffffff;
}

.spinner-border {
    height: 1.2em;
    width: 1.2em;
}
