<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-12 my-auto">
            <div class="row justify-content-center mt-2 mb-2" *ngIf="!canShowResults">
                <div class="col-12 text-center my-auto">
                    <div class="spinner-border text-light" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <span class="my-auto ml-2 info-heading">Waiting for the opponent...</span>
                </div>
            </div>
            <div class="row justify-content-center mt-2 mb-2" *ngIf="canShowResults">
                <div class="col-3 text-left my-auto">
                    <span class="team-name">{{ match.users[0].name }}</span>
                    <small class="text-light" *ngIf="match.users[0].sessionId === sessionId"> (You)</small>
                </div>
                <div class="col-2 text-center my-auto text-nowrap result">
                    {{ match.users[0].points }} : {{ match.users[1].points }}
                </div>

                <div class="col-3 text-right my-auto">
                    <span class="team-name">{{match.users[1].name }}</span>
                    <small class="text-light" *ngIf="match.users[1].sessionId === sessionId"> (You)</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <canvas #football_field (click)="_handleCanvasClick($event)"></canvas>
                </div>
            </div>
            <div class="row" *ngIf="_debug">
                <div class="col-12 text-center">
                    <h4 class="text-light">Debug tools</h4>
                </div>
                <div class="col-12 text-center" *ngIf="_selectedPlayer">
                    Kiválasztva: {{ 'Player ' + _selectedPlayer.id }}
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-danger" (click)="_handleKick()">Kick</button>
                </div>
            </div>
        </div>
    </div>
</div>